.gridHolder, body, html {
    display : flex;
    flex-wrap: wrap;
}

body, html {
    justify-content: center;
    align-items: center;
}

.hovered {
    background-color: black;
}

.gridHolder {
    min-height: 40vw;
    min-width: 40vw;
}