.gridHolder, body, html {
    display : flex;
    flex-wrap: wrap;
}

body, html {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 900px;
}

.hovered {
    background-color: black;
}

.grid {
    box-sizing: border-box;
}

.gridHolder {
    min-height: 40vw;
    min-width: 40vw;
    border: 1px solid black;
}